<div class="registrar">
    <button class="btn volver" (click)="back()">< Volver</button>
    <div class="fondo">
    <h4 class="title">Registro de usuario</h4>

    <form action="" class="formRegistar">
        <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <input type="text" name="apellido" placeholder="Apellido" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        <div class="form-group">
            <input type="email" name="user" placeholder="User" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
          </div>

          <button type="submit" class="btn btn-primary">Registrarme</button>

    </form>
</div>
</div>