<div class="card bg-dark-text-white">
    <div class="card-header">Crear</div>
    <div class="card-body">
        <ul class="alert alert-danger" *ngIf="signInService.errors.length > 0">
            <li *ngFor="let err of signInService.errors">
                {{err}}
            </li>
        </ul>
        <form #productoForm="ngForm" >
            <div class="form-group column">
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="producto.nombreProducto" name="nombreProducto" id="" class="form-control" placeholder="Nombre del producto">
                </div>
                <div class="col-sm-6">
                    <input type="number" [(ngModel)]="producto.precio" name="precio" id="" class="form-control" placeholder="Precio">
                </div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="producto.tipo" name="tipo" id="">
                        <option value="null" selected disabled>Tipo de producto</option>
                        <option *ngFor="let tipo of tipoProducto " [value]="tipo.id">{{tipo.type}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="producto.stock" name="stock" id="" >
                        <option value="null" selected disabled>¿Hay stock?</option>
                        <option [value]="0">No</option>
                        <option [value]="1">Sí</option>
                    </select>                
                </div>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="producto.descripcion" name="descripcion" id="" class="form-control" placeholder="Descripción">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" *ngIf="router.url.includes('create')" (click)="create()" [disabled]="!productoForm.form.valid">Crear</button>
                    <button class="btn btn-primary" role="button" *ngIf="router.url.includes('edit')" (click)="edit()" [disabled]="!productoForm.form.valid">Editar</button>
                </div>
            </div>
        </form>
    
    </div>
    </div>