<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
  
  <a class="navbar-brand" href="#">OilMortales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngFor="let data of optionsNav">
        <li class="nav-item"  (click)="redirect(data.routerLink)">
          <a class="nav-link" >{{data.option}} <span class="sr-only"></span></a>
        </li>
        
      </ul>
    </div>
    
   
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        id="dropdownManual"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
      {{signInService.usuario.nombre}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </nav>