<div class="signIn">
<div class="imgSignIn">
    <img src="../../../assets/img/imgSignIn.png" alt="" srcset="">
</div>

<div class="formSignIn">
    <div class="divForm">
    <form class="formulario">
        <h4>Inicio de sesión</h4>
        <div class="form-group">
          <input type="text"  [(ngModel)]="usuario.username" name="username" placeholder="Nombre de usuario" class="form-control" required autofocus>
          <small class="form-text text-muted ">El nombre de usuario debe ser válido.</small>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña" class="form-control" required>
          <small class="form-text text-muted ">La contraseña debe ser válida.</small>

        </div>
        
        <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
      </form>

      <div class="containerRegistrar">
      <button class="btn registrar" routerLink="/sign-up">Registrarme</button>
    </div>
    </div>
</div>
</div>