
<div class="header">
  <nav class="navbar">
    <div style="margin: 20px;">
      <button *ngIf="signInService.hasRole('ROLE_ADMIN')"  id="buttonCreate" type="button"  routerLink="create">Agregar</button>
    </div>
    <form class="form">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>
<div class="card border-warning mb-3" style="margin: 20px;">
    <div class="card-header">Listado de clientes</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre de negocio</th>
        <th>Dirección</th>
        <th>Tipo</th>
        <th>N° de Encargues</th>
        <th>Descripción</th>
        <th colspan="2" *ngIf="signInService.hasRole('ROLE_ADMIN')">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let data of allClientes">
                <td class="dataEmpleado">{{data.nombreNegocio}}</td>
                <td class="dataEmpleado">{{data.direccion}}</td>
                <td class="dataEmpleado" *ngIf="data.tipo == 0">{{'Moto'}}</td>
                <td class="dataEmpleado" *ngIf="data.tipo == 1">{{'Auto'}}</td>
                <td class="dataEmpleado">{{data.cantidadEncargues}}</td>
                <td class="dataEmpleado">{{data.descripcion}}</td>
                <td class="not-found" *ngIf="signInService.hasRole('ROLE_ADMIN')"><img class="edit" src="../../../assets/icons/edit.svg" (click)="edit(data.id)" alt="edit"></td>
                <td class="not-found" *ngIf="signInService.hasRole('ROLE_ADMIN')"><img class="delete" src="../../../assets/icons/delete.svg"  (click)="redirect(data.id)" alt="delete"></td>
            </tr>
            <tr *ngIf="allClientesArray.length==0">
                <td class="not-found" colspan="5">Lo sentimos, no hay clientes para mostrar.</td>
            </tr>
        </tbody>
      </table>
    </div>
   