<div style="margin: 20px;">
  <button type="button" routerLink="create">Crear</button>
</div>
<div class="card border-warning mb-3" style="margin: 20px;">
    <div class="card-header">Empleados</div>
    <div class="card-body">
      <h5 class="card-title">Listado de clientes</h5>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Puesto</th>
        <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let data of allEmpleados">
                <td class="dataEmpleado">{{data.nombre}}</td>
                <td class="dataEmpleado">{{data.apellido}}</td>
                <td class="dataEmpleado">{{data.edad}}</td>
                <td class="dataEmpleado">{{data.puesto}}</td>
                <td class="not-found"><img class="edit" src="../../../assets/icons/edit.svg" (click)="edit(data.id)" alt="edit"></td>
                <td class="not-found"><img class="delete" src="../../../assets/icons/delete.svg"  (click)="redirect(data.id)" alt="delete"></td>
            </tr>
            <tr *ngIf="allEmpleadosArray.length==0">
                <td class="not-found" colspan="5">Lo sentimos, no hay empleados para mostrar.</td>
            </tr>
        </tbody>
      </table>
    </div>
   