<div class="card bg-dark-text-white">
<div class="card-header">Crear</div>
<div class="card-body">

    <form [formGroup]="clienteForm">
        <div class="form-group column">
            <div class="col-sm-6">
                <input type="text" name="" id="" class="form-control" placeholder="Nombre de negocio" formControlName="nombreNegocio">
            </div>
            <div class="col-sm-6">
                <input type="text" name="" id="" class="form-control" placeholder="Dirección" formControlName="direccion">
            </div>
            <div class="col-sm-6">
                <!-- <input type="number" name="" id="" class="form-control" placeholder="Tipo" formControlName="tipo"> -->
                <select class="form-control" name="tipo" formControlName="tipo" id="">
                    <option value="null" selected disabled>Tipo de comercio</option>
                    <option *ngFor="let tipo of tipoComercio " [value]="tipo.id">{{tipo.type}}</option>
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" name="" id="" class="form-control" placeholder="N° de Encargues" formControlName="cantidadEncargues">
            </div>
            <div class="col-sm-6">
                <input type="text" name="" id="" class="form-control" placeholder="Descripción" formControlName="descripcion">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" *ngIf="urlUse.includes('create')" (click)="create()">Crear</button>
                <button class="btn btn-primary" role="button" *ngIf="urlUse.includes('edit')" (click)="edit()">Editar</button>
            </div>
        </div>
    </form>

</div>
</div>