<div class="card bg-dark-text-white">
<div class="card-header">Crear</div>
<div class="card-body">
    <ul class="alert alert-danger" *ngIf="signInService.errors.length > 0">
        <li *ngFor="let err of signInService.errors">
            {{err}}
        </li>
    </ul>
    <form #clienteForm="ngForm" >
        <div class="form-group column">
            <div class="col-sm-6">
                <input type="text" [(ngModel)]="cliente.nombreNegocio" name="nombreNegocio" id="" class="form-control" placeholder="Nombre de negocio">
            </div>
            <div class="col-sm-6">
                <input type="text" [(ngModel)]="cliente.direccion" name="direccion" id="" class="form-control" placeholder="Dirección"> 
            </div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="cliente.tipo" name="tipo" id="">
                    <option value="null" selected disabled>Tipo de comercio</option>
                    <option *ngFor="let tipo of tipoComercio " [value]="tipo.id">{{tipo.type}}</option>
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" [(ngModel)]="cliente.cantidadEncargues" name="cantidadEncargues" id="" class="form-control"  placeholder="N° de Encargues">
            </div>
            <div class="col-sm-6">
                <input type="text" [(ngModel)]="cliente.descripcion" name="descripcion" id="" class="form-control"  placeholder="Descripción">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" *ngIf="router.url.includes('create')" (click)="create()" [disabled]="!clienteForm.form.valid">Crear</button>
                <button class="btn btn-primary" role="button" *ngIf="router.url.includes('edit')" (click)="edit()" [disabled]="!clienteForm.form.valid">Editar</button>
            </div>
        </div>
    </form>

</div>
</div>